html, body {
	font-family: Arial;
	font-size: 16px;
	margin: 0;
	padding: 5px;
	height: 100%;
	
}

a:link, a:active, a:visited {
	color:#78DECA;
}

a:hover {
	color:#CCFF99;
}

/* Index page style */

.indexPage{
	color:white;
	background-color:#114040;
}

	#aboutText{
		color:#9DE6CC;
	}
	
	#emphasisText{
		color:#EFFBBF;
	}


.directoryTable {
    border-collapse: collapse;
	border-color:6CC8C1;
    width: 75%;
    padding: 0px;
    text-align: center;
}

	.directoryTable th {
		color:white;
		background-color:#099;
		border-color:6CC8C1;
	}

    .directoryTable td {
        border: 1px solid;
		border-color:6CC8C1;
    }

    .directoryTable tr {
        background-color: white;
		border-color:6CC8C1;
    }

        .directoryTable tr:nth-child(even) {
            background-color:#EFFBBF;
			border-color:6CC8C1;
        }

    .directoryTable a {
        display: block;
        color: black;
        text-decoration: none;
		border-color:6CC8C1;
    }

    #listingRow:hover {
        background-color: #CCFF99;
		border-color:6CC8C1;
    }

#clickableCell {
    width: 100%;
    background-color: #ffffff;
    border: 0px;
}

    #clickableCell:hover {
        background-color: #CCFF99;
    }

.simpleInputDiv {
    position: fixed;
	right: 0;
    bottom: 200px;
	border: 2px solid #00CC66;
}

/* Top Bar Style */

.topBar{
	width: 100%;
	border:0;
	background-color:#114040;
	color:white;
}


/* File Infomation Style */

.fileInfoDiv {
    height: 50%;
    width: 25%; 
    float: right;
    right: 100%;
    bottom: 0;
}

.fileInfoTable {
    border-collapse: collapse;
	width: 100%;
    height: 100%;
	border-color:#6CC8C1;
    text-align: center;
}

    #fileNameCell {
        height: 10%;
    }

    #descriptionTagCell {
        height: 10%;
		color:white;
		background-color:#099;
    }

    #descriptionCell {
        height: 25%;
    }

    #colourTagCell {
        height: 10%;
		color:white;
		background-color:#099;
    }

    #tagCell {
        height: 25%;
    }

    #fileManButton {
        height: 10%;
    }
    
    #fileManDiv {
        width: 100%;
        height: 100%;
    }
   
        #fileManButton {
            border: 0px;
            display: table-cell;
            width: 100%;
            height: 100%;
        }

        .active {
            border: 0px;
            display: table-cell;
            width: 100%;
            height: 100%;
            background-color:#9DE6CC;
        }

        .active:hover {
            background-color: #CCFF99;
        }

.selectedFile {
    background-color: #CCFF99;
}
